/* Default */

html {
  width: 100%;
  height: 100%;
}

body {
  background: #107DB5;
  width: 100%;
  height: 100%;
}


a{
  color:#fff;
  text-decoration: none; 
  display: block;
}


/* Rayout */
.container {
  width: 1320PX;
}


.fullheight {
  flex:1;
}


/* Font */
h1, h2, h2, h4, h5, h6 {
  font-family: 'Play', sans-serif;
}


/* Logo */
h1 {
  text-align: center;
  margin-top: 72px;
  margin-bottom: 0px;
}
.main h1 {  
  margin-top: 0px;  
}


.main_logo {
  width: 291px;
  height: 70px;
  text-indent: -9999em;
  margin-top: 72px;
  margin: 0 auto;
  background: url(../image/LOGO.png) no-repeat;
}

/* text */

.content h2 {
  text-align: center;
  margin-top: 63px;
}

.content  h2 a:hover  {  
  animation: blink 0.5s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* animation */

.Loading {
  transform: rotate(10deg);  
  animation: Loading 1s linear infinite alternate;
  transform-origin: center bottom;
  opacity: 100%;
}

.Loadingtxt {
  opacity: 100%;
  padding-top: 30px;
}
.Loadingtxt span {
  animation: dot 1s 0.1s linear infinite;
}
.Loadingtxt span:nth-child(2) {
  animation: dot 1s 0.2s linear  infinite;
}
.Loadingtxt span:nth-child(3) {
  animation: dot 1s 0.3s linear infinite;
}

@keyframes dot {
  from {opacity: 0;}
  15%{opacity: 0;}
  25%{opacity: 1;}
  100%{opacity: 1;} 
}


@keyframes Loading {
  0% {transform: rotate(-20deg);}
    100% {transform: rotate(20deg);}
  
}

.content {
  display: none;
  opacity:1;  
}


/* index.main.css */

header {
  margin-top: 72px;
}
.main header {
  margin-top: 0px;
  padding-top: 30px;

}


.index_main_logo{
  background: url(../image/LOGO2.png) no-repeat;
  width: 189px;
  height: 70px;
  text-indent: -9999em;
  margin-top: 72px;
  margin: 0 auto;
  transform: translateX(130px);
}

.nav {
  gap:40px;
  transform: translate(-116px);
}

.nav li a {
  font-size: 20px;
  text-transform: uppercase;
  font-weight:600;
}

.display {
  width: 100%;
  height: 700px;
  background: #000;
  margin-top: 72px;
  text-align: center;
  position: relative;
}

img.gday {
  animation: wiggle 2s forwards;  
  transform-origin: 50% 100%;
  height: 250px;
}

@keyframes wiggle {
  0% {
    transform: scale(0);
    animation-timing-function: ease-out;
    opacity: 0;
  }
  25% {  
    opacity: 0.5;
  }
  27% {transform: scale(0.6);}
  29% {transform: scale(0.4);
    animation-timing-function: ease-in;

  }
  50% {
    transform: scale(0.2);
    transform: translateY(30px);
  } 
  60% {
    transform: scale(0.2);
    transform: translateY(0px);
  }
  70% {
    transform: scale(0);
    transform: translateY(20px);
  } 
  80% {
    transform: scale(0);
    transform: translateY(0px);
  } 
  90% {
    transform: scale(0);
    transform: translateY(10px);
  } 
  100% {
    transform: scale(0);
    transform: translateY(0px);
  } 
} 

/* index_main.html */

.contoller {
  margin-top:-20px;
}

.controllerbtn {  

  text-indent: -999em;
  padding-top: 432px;
  position: relative;
}

.prev {
  width: 113px;
  height: 342px;
  transform: translateY(50%); 
  background: url(../image/prev.png) no-repeat;
}
.next {
  width: 131px;
  height: 339px;
  transform: translateY(50%); 
  background: url(../image/next.png) no-repeat;
}

.controllerbtn > h4 > a > p {
  position: absolute;
  bottom:10%;
  left:20%;
  transform: translate(-50% -50%);
}



.content * {
color: #fff;
}

.display h2:hover, .display p:hover {
  animation: blink 0.5s step-end infinite;
}

.display01 div h2 {
  padding-top: 30%;
}

.display01 div p {
  padding-top: 170px;
  font-size: 20px;
}

.display01 div *  {
color: #fff;
}

/* 화면 전환 */

.displaygroup {
  flex: 1;
}
.display01 {
  color: #fff;
}

.display {
  position: relative;
}
.whitedisplay {  
  background: #fff;  
  display: none;
  color: #000;
  text-align: center;
  position: relative;
}

.speach_bubble {
  width: 89%;
  height: 189px;    
  border-radius: 20px;
  border: 11px solid #000;  
  position: absolute;
  bottom: 20px;
  left:50%;
  transform: translateX(-50%);
  padding-top: 30px;
  gap:20px;
  padding-left: 50px;
}
.history .speach_bubble {
  width: 890px;
  height: 189px;    
  border-radius: 20px;
  border: 11px solid #000;  
  position: absolute;
  bottom: 20px;
  left:50%;
  transform: translateX(-50%);
  padding-top: 30px;
  gap:20px;
  padding-left: 50px;
}

.speach_bubble p {
  color: #000;
  font-family: Play;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 153.846% */
  text-transform:capitalize;
  text-align: left;  
}


.triangle {
  position: absolute;
  right: 3%;
  top: 50%;
}


.whitedisplay .jefferey_dot {
padding-top: 12%;
transform: translateX(-230px);
animation: justwiggle 2s forwards;  
display: none;
}


@keyframes justwiggle {
  0% {
    transform: scale(0);
    animation-timing-function: ease-out;
    opacity: 0;
  }
  25% {  
    opacity: 0.5;
  }
  27% {transform: scale(0.6);}
  29% {transform: scale(0.4);
    animation-timing-function: ease-in;

  }
  50% {
    transform: scale(0.2);
    transform: translateY(30px);
  } 
  60% {
    transform: scale(0.2);
    transform: translateY(0px);
  }
  70% {
    transform: scale(0);
    transform: translateY(20px);
  } 
  80% {
    transform: scale(0);
    transform: translateY(0px);
  } 
  90% {
    transform: scale(0);
    transform: translateY(10px);
  } 
  100% {
    transform: scale(0);
    transform: translateY(0px);
  } 
} 


.dropdowns  {
  position: absolute;
  top:30px;
  right:80px;
  cursor: pointer;
}


.languagebtn::after {
  content: 'Language';
  font-family: Play;
  font-size: 1.6em;
  font-weight: bold;
  padding-left: 20px;

}

.dropdown-menu { 
 border-radius: 20px;
 border: 3px solid #000;   
 --bs-dropdown-padding-x: 0 !important;
 --bs-dropdown-min-width: 0 !important;
 margin-left: 30px;

}

.dropdown-item {
  line-height:5px;
  font-family: Play;
  font-size: 12px;
  font-weight: bold;
}

.flagicon {
  padding-left: 2px;
}

.flagicon_txt {
  padding-left: 10%;
  font-weight: bold;
  font-family: Play;
  text-transform: uppercase;
}


/* index_main.html 디벨롭 */

.speach_bubble_slide {
  display: none;
}


.active {
  display: block;
}





/* history.html */
.history .jefferey_dot {  
  transform: translate(-60%, 200px);
  animation: jeffereymove 50s;  
}

.history .dropdowns {
  color: #fff;

}
@keyframes jeffereymove {
  0% {transform: translate(-800%, 230px);}
  10% {transform: translate(-480%, 200px);}
  30% {transform: translate(-380%, 260px);}
  50% {transform: translate(-180%, 200px);}
  70% {transform: translate(-180%, 260px);}
  90% {transform: translate(-80%, 260px);}
  100% {transform: translate(-60%, 200px);}
  
}


.greydisplay  {    
  display: block;  
  text-align: center;
  position: relative; 
  background:transparent;   
  width: 1052px;
  height: 700px;
  overflow: hidden;
}

.background2d {
  background: url(/image/2dbackground.png) no-repeat;
  width: 100vw;
  height: 100%;  
  animation: bgmove 70s;  
  z-index: -99;
}

 @keyframes bgmove {
  0% {transform: translateX(-5px);}
  100% {transform: translateX(-600px);}
 } 


.object {
  z-index: -1;
  width: 244px;
  height: 225px;
  position: relative;
  left: 60%;


}

.objecttxt {
  background: #107DB5;
  position: relative;
  gap: 200%;
}

.object div {
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
}
.object h3 {
  color: #FDFDFD;
  text-shadow: 5px 5px 0px #000;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 86.49px */
  letter-spacing: 3.46px;
  white-space: nowrap;
}
.object p {
  color: #222;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: normal; 
  white-space: nowrap;
}
.object p:last-child {
  transform: translateY(-50%, -30px);  
}

.history .speach_bubble {
  position: fixed;
  top:65%;
  left:50%;
  z-index: 99;
  border-radius: 20px;
  background: #fff !important;  
}









/* able.html */

.able {
  position: relative;
}

.able div .groups h2 {
  color: #FFF;
font-family: Inter;
font-size: 52px;
font-style: normal;
font-weight: 600;
line-height: normal;
transform: translateY(30px);
}

.able > h2 {
padding-top: 3%;
font-size: 30px;
color: #fff;
font-family: Play;


}

.able .skillgroups {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.groups {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.langskillgroup {
  background: #D8656C;
  filter: brightness(80%);
  width: 453px;
  height: 491px;
}


.comskillgroup {
  background: #65BCD8;
  filter: brightness(80%);
  width: 453px;
  height: 491px;
}

.speach_bubble_p02 {
  display: none;
}

/* intro.html */

.displaygroup .intro {
  overflow: hidden;   
}

.reddisplay  {    
  width: 100%;
  height: 700px;
  background: #CF1313;
  margin-top: 72px;
  text-align: center;
  position: relative;
  
}


.intro  .tenel {
  margin-left: -60%;
  margin-top: 45%;
  animation: uptenel 1s;
  transform-origin: center bottom;  

}

@keyframes uptenel {
  0% {transform: translateY(100%);}
  100% {transform: translateY(0%);}
  
}

.reddisplay .jefferey_dot {
position: absolute;
bottom: 31%;
left:14%;
display: none;
animation: upjefferey 0.5s;
}
@keyframes upjefferey {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  50% {
    opacity: 1;
    transform: translateY(-20%);
  }  
  100% {
    opacity: 1;
    transform: translateY(0%);
  }  
}

.txtgroup {
  position: absolute;
  top:20%;
  left:80%;
  transform: translate(-70%);
  border-radius: 20px; 
  text-align: left; 
  }

.txtgroup span {
  color: #fff;
  font-family: Play;
  font-size: 17px;  
  font-weight: 400;
  line-height: 40px;
}


/* future.html */

.future > h2 {
  padding-top: 3%;
  font-size: 30px;
  color: #fff !important;
  font-family: Play;
}

.photofiled {
 width: 400px;
}
.photofiled img {
  width: 100%;
}

.swipe-slide {
  padding: 0px 14%;
}